.logo{
  width: 5%;
  height: 5%;
}

img{
    width: 40%;
    height: 40%;
}
footer ul li{
    list-style: none;
  }
  footer p{
    color: red;
    text-align: center;
  }
footer ul li a{
    text-decoration: none;
}
